<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>MouseRun</string>
    <key>CFBundleIconFile</key>
    <string>MouseRun</string>
    <key>CFBundleIdentifier</key>
    <string>com.munch.mouserun</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>MouseRun</string>
    <key>CFBundleDisplayName</key>
    <string>MouseRun</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>MouseRun uses Bluetooth status to switch natural scrolling automatically.</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 MUNCH. All rights reserved.</string>
</dict>
</plist>
